.git
.gitignore

README.md
__pycache__/
venv
.venv/
poetry.lock
pyproject.toml

# Project
data/train/true/*.jpg
data/train/true/*.jpeg
data/train/true/*.png
data/train/false/*.jpg
data/train/false/*.jpeg
data/train/false/*.png
data/valid/true/*.jpg
data/valid/true/*.jpeg
data/valid/true/*.png
data/valid/false/*.jpg
data/valid/false/*.jpeg 
data/valid/false/*.png
data/test/true/*.jpg
data/test/true/*.jpeg
data/test/true/*.png
data/test/false/*.jpg
data/test/false/*.jpeg 
data/test/false/*.png
data/test/*.jpg
data/test/*.jpeg 
data/test/*.png
notebook/
secrets/*